@import "../_variables.scss";

// AboutUs Component Styling
.aboutUS {
    background-color: red;
}

.flexContainer {
    display: flex;
}
.socialContainer {
        display: flex;
        justify-content: center;
    }
