@import "../_variables.scss";

// AboutUs Component Styling

.aboutUs {
    margin: 25px 0 50px 0;
    p {
        width: 80%;
        font-size: 1rem;
        text-align: center;
        color: $offWhite;
        font-family: $paraFont;
        margin-top: 15px;
    }
}

.aboutTitle {
    text-align: center;
    font-family: $headingFont;
    color: $offWhite;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-decoration: underline;
    margin-top: 15px;
}

.name {
    text-align: center;
    font-family: $headingFont;
    font-weight: bold;
    font-size: 1.5rem;
    // text-decoration: underline;
    color: $offWhite;
    padding: 15px 0 15px 0;
}

.aboutUs img {
    border-radius: 50%;
    border: solid 2px $offWhite;
}

.imgContainer {
    width: calc( ( 80%/2 ) - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $secondary;
    border-radius: 25px;
}

.socialContainer {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 15px;
        a {
            padding: 0 5px 0 5px;
            color: $offWhite;
            transition: color 0.4s ease-in-out;
                &:hover, &:focus {
                    color: $primary;
                }
        }
}

// About Us Media Queries

@media (max-width: 1000px) {
    .imgContainer {
        width: calc((100%/2) - 50px);
    }
}

@media (max-width: 700px) {
    .flexContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imgContainer {
        width: 70%;
        margin: 15px;
    }
}

