@import "../_variables.scss";

nav {
    background-color: $primary;
    height: 7vh;
    display: flex;
    align-items: center;

    .navContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $offWhite;
        width: 100%;
        padding: 0 1rem;

        h1 {
            font-weight: bold;
            text-transform: uppercase;
            background: linear-gradient(110deg, $fourth 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, $offWhite 34%, $fourth 34%);
            background-size: 400%;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            animation: Gradient 7s ease-out infinite;
            -webkit-animation: Gradient 15s ease infinite;
            -moz-animation: Gradient 5s ease infinite;
        }

        ul {
            display: flex;

            li {
                a {
                    font-family: $headingFont;
                    padding: 1rem;
                    transition: color 0.3s ease-in-out;

                    @media (max-width:700px) {
                        font-size: 2rem;
                        border-bottom: $fifth 2px solid;
                    }

                    &:hover,
                    &:focus {
                        color: $fifth;
                    }
                }
            }
        }
    }
}


.burgerButton {
    position: absolute;
    right: 20px;
    top: calc(3.5vh - 12.5px);
    z-index: 15;
    opacity: 0;
    height: 25px;
    cursor: pointer;
    fill: $offWhite;
}

@media (max-width:700px) {
    .nav {
        position: absolute;
        opacity: 0;
        left: -100%;

    }

    .navmobile {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 10;
        top: 0;
        background-color: $primary;
        transition: left 0.25s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        left: 0%;
    }

    .burgerButton {
        opacity: 1;
    }

}

// animation inspired by https://codepen.io/chrishodges27/pen/QxGdmb
@keyframes Gradient {
    0% {
        background-position: 0% 0%
    }

    25% {
        background-position: 40% 40%
    }

    50% {
        background-position: 20% 10%
    }

    75% {
        background-position: 40% 40%
    }

    100% {
        background-position: 0% 0%
    }
}