@import "../_variables.scss";

nav {

    height: 10vh;
    background-color: $secondary;

    .navContent {
        display: flex;
        justify-content: space-between;

        color: $tertiary;

        .homeButton {
            font-family: $headingFont;
            font-weight: bold;
        }

        ul {
            display: flex;
            justify-content: space-evenly;
        }
    }
}