@import "../_variables.scss";

nav {
    background-color: $primary;
    padding: 0.5rem 1rem;
    .navContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $offWhite;

        h1 {
            font-family: $headingFont;
            font-weight: bold;
            text-transform: uppercase;
            
        }

        ul {
            display: flex;
            li {
                a {
                    padding: 1rem;
                    transition: color 0.3s ease-in-out;
                    &:hover, &:focus {
                        color: $fifth;
                    }
                }
            }
        }
    }
}
