@import "../_variables.scss";
@import "../_mixins.scss";


.pollCreateContainer {
    background-color: $secondary;
    margin: 2rem auto;
    border: $secondary solid 3px;
    border-radius: 15px;

    .appInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1rem;
        color: $offWhite;

        .tagline {
            padding: 0.5rem 0;
        }
    }

    .pollCreateForm {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $primary;
        width: fit-content;
        padding: 15px;
        border-radius: 15px;
        box-shadow: rgba($color: $black, $alpha: 0.3) 0px 19px 38px, rgba($color: $black, $alpha: 0.22) 0px 15px 12px;
        background-color: $offWhite;
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: uppercase;
            gap: 1rem;
            padding-top: 1rem;


            input {
                text-align: center;
                padding: 0.75rem 0.7rem;
                border-radius: 15px;
                border: 2px solid $secondary;

                &:focus {
                    outline: 2px $primary solid;
                }
            }

            .question {
                width: 35vw;
                @media (max-width: 950px) {
                    width: 60vw;
                }
                @media (max-width: 500px) {
                    width: 75vw;
                }
            }

            .answers {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 25vw;
                @media (max-width: 950px) {
                    width: 53vw;
                }
                @media (max-width: 500px) {
                    width: 65vw;
                }
                input {
                    width: 100%;
                }
            }

            button {
                @include customButton($offWhite, $primary, $fourth);
            }
        }
    }
}