@import "../variables.scss";
@import "../mixins.scss";

.navButton {
    @include customButton($primary);

}

.copyToClipBoardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        cursor: text;
        background-color: $offWhite;
        border-radius: 5px;
    }
    margin-left: 1rem;
    @media (max-width: 550px) {
        margin-left: 0;

    } 

    .shareButton {
        color: $offWhite;
        border: $fourth 2px solid;
        width: 100%;
        background-image: linear-gradient(to bottom, $primary 50%, $fourth 50%);
        text-transform: capitalize;
        background-size: 100% 200%;
        border: none;
        border-radius: 5px;
        padding: 0.25rem 0.75rem;
        cursor: pointer;
        transition: background-position 0.25s ease-in-out;

        &:hover, &:focus {
            background-position: 0 100%;
        }
    }
}
