@import "./_variables.scss";

@mixin customButton($color1) {
    color: $offWhite;
    background-image: linear-gradient(to bottom, $color1 50%, $fourth 50%);
    text-transform: capitalize;
    background-size: 100% 200%;
    border: $fourth 2px solid;
    border-radius: 5px;
    padding: 0.8rem 0.75rem;
    cursor: pointer;
    transition: background-position 0.25s ease-in-out;

    &:hover, &:focus {
        background-position: 0 100%;
    }
}