$headingFont: 'Montserrat', sans-serif;
$paraFont: 'Barlow', sans-serif;

$primary: #355070;
$secondary: #6D597A;
$tertiary: #B56576;
$fourth: #E56B6F;
$fifth: #EAAC8B;
$offWhite: #f5f5f5;
$black: #000000;